// Fuentes
$fuente-principal: 'Outfit', sans-serif;

// Tamaño de Media Queries
$telefono: 400px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$primario:#f66822;
$azul: #0360b8;
$azul-oscuro: #024a8d;

$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #64748B;
$gris-claro: #f7f7f7;
$gris-oscuro: #1E293B;

$rojo: #da0f0f;
$verde: #00ca36;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900